<style>
  .table{
    width: 70%;
  }
</style>

<div>
  <div class="row justify-content-center my-3">
     <h1>Modelos</h1>
  </div>
  <div class="row justify-content-center">
     <mat-form-field>
        <input #inputMarca matInput placeholder="Marca">
     </mat-form-field>
     <div class="mx-3">
        <button 
          mat-raised-button
          color="primary"
          (click)='agregarMarca(inputMarca.value)'
          [disabled]="inputMarca.value==''">
            Agregar marca
        </button>
     </div>
  </div>
  <div class="row justify-content-center">
     <mat-form-field class="mx-3">
        <mat-select #selectMarca (selectionChange)="cambiarMarca($event.value)">
          <mat-option *ngFor="let marca of marcas" [value]="marca.nombre">
            {{marca.nombre}}
          </mat-option>
        </mat-select>
     </mat-form-field>
     <mat-form-field class="mx-3">
        <input #inputModelo matInput placeholder="Modelo*">
     </mat-form-field>
     <mat-form-field class="mx-3">
        <input #inputPrecio matInput placeholder="Precio*">
     </mat-form-field>
     <div>
        <button
          mat-raised-button
          color="primary"
          [disabled]="inputModelo.value=='' || inputPrecio.value=='' || marcaSeleccionada==''"
          (click)='agregarModelo(inputModelo.value, inputPrecio.value)'>
            Agregar modelo
        </button>
     </div>
  </div>
  <div class="row justify-content-center my-4">
     <table *ngIf="modelos.length" class="mx-3 table">
        <tr>
           <th>Marca</th>
           <th>Modelo</th>
           <th>Precio</th>
           <th></th>
        </tr>
        <tr *ngFor="let modelo of modelos;let i=index;">
           <td>{{modelo.marcaSeleccionada}}</td>
           <td>{{modelo.modelo}}</td>
           <td>{{modelo.precio}}</td>
           <td>
              <button mat-button color="warn" (click)="eliminarModelo(i)">X</button>
           </td>
        </tr>
     </table>
  </div>
</div>
<router-outlet></router-outlet>